@import "_config.scss";
@import "_mixins.scss";
@import "reset.scss";

.three-dimansion-slider {
	perspective: 500px;//透视距离
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > * {
		flex: 0 0 auto;
	}

	ul {
		width: 40%;
		transform-style: preserve-3d;
		transition: transform 0.5s;

		li {
			width: 100%;
			box-sizing: border-box;

			img {
				width: 100%;
				box-sizing: border-box;
			}
		}

		li:not(:first-of-type) {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;

		button {
			flex: 0 0 auto;
			margin: 0 5px;
			cursor: pointer;
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
}
